.ball {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: #6A5ACD;
    box-shadow: inset -15px -15px 20px #483D8B;
    animation: jumping 4s linear 0s infinite;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;
}

@keyframes jumping {
    0% {
        top: 10px;
        left: 5px;
    }
    23% {
        width: 70px;
        height: 70px;
    }

    25% {
        top: 300px;
        left: 100px;
        width: 73px;
        height: 65px;
        border-radius: 35px;
    }
    30% {
        width: 70px;
        height: 70px;
    }
    45% {
        top: 40px;
        left: 180px;
    }

    50% {
        top: 30px;
        left: 200px;
    }
    55% {
        top: 40px;
        left: 220px;
    }

    73% {
        width: 70px;
        height: 70px;
    }
    75% {
        top: 300px;
        left: 300px;
        width: 73px;
        height: 65px;
        border-radius: 35px;
    }
    80% {
        width: 70px;
        height: 70px;
    }

    100% {
        top: 30px;
        left: 400px;
    }
}

.shadow {
    width: 50px;
    height: 10px;
    position: absolute;
    box-shadow: inset 0 0 0 10px rgba(128, 128, 128, .2),
    0 0 10px 10px rgba(128, 128, 128, .2);
    border-radius: 30px / 10px;
    top: 360px;
    z-index: 0;
    animation: moving_shadow 4s linear 0s infinite;
}

@keyframes moving_shadow {
    0% {
        top: 350px;
        left: 5px;
        width: 30px;
        height: 5px;
    }
    25% {
        left: 110px;
        box-shadow: inset 0 0 0 10px rgba(128, 128, 128, .7),
        0 0 10px 10px rgba(128, 128, 128, .7);
        width: 50px;
        height: 10px;
    }
    50% {
        left: 210px;
        box-shadow: inset 0 0 0 10px rgba(128, 128, 128, .2),
        0 0 10px 10px rgba(128, 128, 128, .2);
        width: 30px;
        height: 5px;
    }
    75% {
        left: 310px;
        box-shadow: inset 0 0 0 10px rgba(128, 128, 128, .7),
        0 0 10px 10px rgba(128, 128, 128, .7);
        width: 50px;
        height: 10px;
    }
    100% {
        left: 410px;
        box-shadow: inset 0 0 0 10px rgba(128, 128, 128, .2),
        0 0 10px 10px rgba(128, 128, 128, .2);
        width: 30px;
        height: 5px;
    }
}
