.chess-table {
    display: flex;
    flex-flow: wrap;
    width: 110vmin;
    height: 100vmin;
}

.chess-table>div {
    width: 10vmin;
    height: 10vmin;
    border: solid 1px;
    text-align: center;
    line-height: 10vmin;
    font-style: italic;
    font-weight: bold;
}

.chess-table>div:nth-of-type(-n+20):not(:nth-of-type(-n+10)):not(:nth-of-type(odd)):not(:nth-of-type(20)),
.chess-table>div:nth-of-type(-n+40):not(:nth-of-type(-n+30)):not(:nth-of-type(odd)):not(:nth-of-type(40)),
.chess-table>div:nth-of-type(-n+60):not(:nth-of-type(-n+50)):not(:nth-of-type(odd)):not(:nth-of-type(60)),
.chess-table>div:nth-of-type(-n+80):not(:nth-of-type(-n+70)):not(:nth-of-type(odd)):not(:nth-of-type(80)),
.chess-table>div:nth-of-type(-n+30):not(:nth-of-type(-n+20)):not(:nth-of-type(even)):not(:nth-of-type(21)),
.chess-table>div:nth-of-type(-n+50):not(:nth-of-type(-n+40)):not(:nth-of-type(even)):not(:nth-of-type(41)),
.chess-table>div:nth-of-type(-n+70):not(:nth-of-type(-n+60)):not(:nth-of-type(even)):not(:nth-of-type(61)),
.chess-table>div:nth-of-type(-n+90):not(:nth-of-type(-n+80)):not(:nth-of-type(even)):not(:nth-of-type(81)) {
    background-color: grey;
}

.chess-table>div:nth-child(even):not(:last-child)>div:nth-of-type(even):not(:last-child),
.chess-table>div:nth-child(odd):not(:first-child)>div:nth-of-type(odd):not(:first-child) {
    background-color: grey;
}

.chess-table>div:nth-of-type(-n+29):not(:nth-of-type(-n+11)):not(:nth-of-type(21)):not(:nth-of-type(20)),
.chess-table>div:nth-last-of-type(-n+29):not(:nth-last-of-type(-n+11)):not(:nth-last-of-type(21)):not(:nth-last-of-type(20)) {
    content: '';
    display: block;
    height: 10vmin;
    width: 10vmin;
    overflow: hidden;
    background-image: url(../img/chess.png);
    background-size: 600%;
    background-repeat: no-repeat;
    ;
}

.chess-table>div:nth-of-type(-n+29):not(:nth-of-type(-n+21)):not(:nth-of-type(21)):not(:nth-of-type(20)),
.chess-table>div:nth-last-of-type(-n+29):not(:nth-last-of-type(-n+21)):not(:nth-last-of-type(21)):not(:nth-last-of-type(20)) {
    background-position-x: -52vmin;
}

.chess-table>div:nth-of-type(12),
.chess-table>div:nth-of-type(19),
.chess-table>div:nth-of-type(82),
.chess-table>div:nth-of-type(89) {
    background-position-x: -20vmin;
}

.chess-table>div:nth-of-type(13),
.chess-table>div:nth-of-type(18),
.chess-table>div:nth-of-type(83),
.chess-table>div:nth-of-type(88) {
    background-position-x: -41vmin;
}

.chess-table>div:nth-of-type(14),
.chess-table>div:nth-of-type(17),
.chess-table>div:nth-of-type(84),
.chess-table>div:nth-of-type(87) {
    background-position-x: -31vmin;
}

.chess-table>div:nth-of-type(15),
.chess-table>div:nth-of-type(85) {
    background-position-x: 1vmin;
}

.chess-table>div:nth-of-type(16),
.chess-table>div:nth-of-type(86) {
    background-position-x: -10vmin;
}

.chess-table>div:nth-last-of-type(-n+29):not(:nth-last-of-type(-n+11)):not(:nth-last-of-type(21)):not(:nth-last-of-type(20)) {
    background-position-y: -10vmin;
}
