body>div>div:nth-of-type(n) {
    float: left;
}

div>div:nth-of-type(n) {
    border: solid 1px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.main:hover>div:nth-of-type(1)>div:nth-of-type(3),
.main:hover>div:nth-of-type(1)>div:nth-of-type(5),
.main:hover>div:nth-of-type(2)>div:nth-of-type(2),
.main:hover>div:nth-of-type(2)>div:nth-of-type(5) {
    transform: translateX(100%);
}

.main:hover>div:nth-of-type(1)>div:nth-of-type(4),
.main:hover>div:nth-of-type(1)>div:nth-of-type(6) {
    transform: translateX(200%);
}

.main:hover>div:nth-of-type(2)>div:nth-of-type(3),
.main:hover>div:nth-of-type(2)>div:nth-of-type(4),
.main:hover>div:nth-of-type(3)>div:nth-of-type(2),
.main:hover>div:nth-of-type(3)>div:nth-of-type(4) {
    transform: translateX(-100%);
}


.main:hover>div:nth-of-type(3)>div:nth-of-type(5),
.main:hover>div:nth-of-type(3)>div:nth-of-type(6) {
    transform: translateX(-200%);
}

.main:hover>div:nth-of-type(1)>div:nth-of-type(3),
.main:hover>div:nth-of-type(1)>div:nth-of-type(5),
.main:hover>div:nth-of-type(2)>div:nth-of-type(2),
.main:hover>div:nth-of-type(2)>div:nth-of-type(5),
.main:hover>div:nth-of-type(1)>div:nth-of-type(4),
.main:hover>div:nth-of-type(1)>div:nth-of-type(6),
.main:hover>div:nth-of-type(2)>div:nth-of-type(3),
.main:hover>div:nth-of-type(2)>div:nth-of-type(4),
.main:hover>div:nth-of-type(3)>div:nth-of-type(2),
.main:hover>div:nth-of-type(3)>div:nth-of-type(4),
.main:hover>div:nth-of-type(3)>div:nth-of-type(5),
.main:hover>div:nth-of-type(3)>div:nth-of-type(6) {
    transition: transform 0.5s 3s;
}
