input {
    display: none;
}

#autumn[name="seasons"]:checked+div {
    display: block;
    width: 350px;
    height: 200px;
    background-image: url(../img/autumn.jpg);
}

#winter[name="seasons"]:checked+div {
    display: block;
    width: 350px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../img/winter.jpg);
}

#spring[name="seasons"]:checked+div {
    display: block;
    width: 350px;
    height: 200px;
    background-image: url(../img/spring.jpg);
}

#summer[name="seasons"]:checked+div {
    display: block;
    width: 350px;
    height: 200px;
    background-image: url(../img/summer.jpg);
}

.circles {
    position: absolute;
    top: 180px;
    left: 150px;
}

.circles>label {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 7px;
    background-color: grey;
    float: left;
    margin: 5px;
}

._left {
    display: block;
    width: 0px;
    height: 0px;
    border-right: solid 20px grey;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-top: 20px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 90px;
    left: -5px;
}

._right {
    display: block;
    width: 0px;
    height: 0px;
    border-left: solid 20px grey;
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-top: 20px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 90px;
    left: 330px;
}

.arrows {
    display: none;
}

#autumn[name="seasons"]:checked~#_1 {
    display: block;
}

#winter[name="seasons"]:checked~#_2 {
    display: block;
}

#spring[name="seasons"]:checked~#_3 {
    display: block;
}

#summer[name="seasons"]:checked~#_4 {
    display: block;
}
